* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  height: 70px;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.navbar .logo {
  font-weight: bolder;
  font-size: 1.3rem;
}

.navbar .nav-item>ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 8px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.nav-item>ul li:hover {
  transform: scale(1.1);
  background: white;
  color: black;
}